
@font-face
{
  font-family: ProCentroSlabBlack;
  src: url(../lib/ionic/fonts/PFCentroSlabPro-Black.otf);
}
@font-face
{
  font-family: ProCentroSlabBlackItalic;
  src: url(../lib/ionic/fonts/PFCentroSlabPro-BlackItalic.otf);
}
@font-face
{
  font-family: ProCentroSlabBold;
  src: url(../lib/ionic/fonts/PFCentroSlabPro-Bold.otf);
}
@font-face
{
  font-family: ProCentroSlabLight;
  src: url(../lib/ionic/fonts/PFCentroSlabPro-Light.otf);
}
@font-face
{
  font-family: ProCentroSlabMedium;
  src: url(../lib/ionic/fonts/PFCentroSlabPro-Medium.otf);
}
@font-face
{
  font-family: ProCentroSlabRegular;
  src: url(../lib/ionic/fonts/PFCentroSlabPro-Regular.otf);
}
@font-face
{
  font-family: ProCentroSlabThin;
  src: url(../lib/ionic/fonts/PFCentroSlabPro-Thin.otf);
}