.tab-home-center-pane-outer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
h4.tab-home-center-pane-title{
  color: #ffffff;
  text-transform:uppercase;
}
.tab-home-center-pane {
  margin: 7em;
  width: 375px;
  background:url("../img/modelbackground.png") no-repeat;
  opacity: 0.9;
  background-size: 100% 100%;
  color: #ffffff;
  padding: 2.5em;
}
.action-button{
  color: darkslategrey;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  padding: 9px 25px;
  margin:10px;
}
.ignore-action-link{
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
}